<div id="footer">
  <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--raised" id="popup">
    <div class="icon material-icons">help</div>
  </button>
  <div class="mdl-tooltip" for="popup">&copy; thinkaliker (Adam Chao) 2016</div>
</div>
<script>
anchors.add().remove('h6');
</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/anchor-js/3.1.0/anchor.min.js"></script>
<script src="/js/extras.js"></script>
<link rel='stylesheet' href="//fonts.googleapis.com/css?family=Roboto" type='text/css'>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons" type="text/css">
