<div id="footer">
  <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--raised" id="popup">
    <div class="icon material-icons">help</div>
  </button>
  <div class="mdl-tooltip" for="popup">&copy; thinkaliker (Adam Chao) 2016</div>
</div>
<script>
  anchors.add().remove('h6');
</script>
<link rel="stylesheet" href="//storage.googleapis.com/code.getmdl.io/1.2.1/material.blue_grey-blue.min.css" type="text/css">
<link rel="stylesheet" href="/css/mdl_custom.css" type="text/css" />
<script defer src="//cdnjs.cloudflare.com/ajax/libs/anchor-js/3.2.2/anchor.min.js"></script>
<script defer src="/js/extras.js"></script>
<link rel='stylesheet' href="//fonts.googleapis.com/css?family=Roboto" type='text/css'>
<link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons" type="text/css">
