<header>
  <div class="container">
    <div class="row" id="menu-desktop">
      <div class="column column-25">
        <a class="button button-clear" href="/">
          <img src="/cautionstripes_vector.svg" width="25" height="25" alt="Caution Stripes" />
        </a>
      </div>
      <div class="column column-60 column-offset-20">
        <a href="/" class="button button-clear">Home</a>
        <a href="/blog" class="button button-clear">Blog</a>
        <a href="/projects" class="button button-clear">Projects</a>
        <a href="/about" class="button button-clear">About</a>
        <a href="/links" class="button button-clear">Links</a>
      </div>
    </div>
    <div class="row" id="mobile">
      <div class="column">
        <a class="button button-clear" href="/">
          <img src="/cautionstripes_vector.svg" width="25" height="25" alt="Caution Stripes" />
        </a>
        &nbsp;
        <span class="expand float-right">Menu <i class="fa fa-bars" aria-hidden="true"></i></span>
      </div>
    </div>
    <div class="row">
      <div class="expand-div" style="display:none;">
        <a href="/" class="button button-clear">Home</a>
        <a href="/blog" class="button button-clear">Blog</a>
        <a href="/projects" class="button button-clear">Projects</a>
        <a href="/about" class="button button-clear">About</a>
        <a href="/links" class="button button-clear">Links</a>
      </div>
    </div>
  </div>
</header>