<header class="mdl-layout__header">
  <div class="mdl-layout__header-row">
    <span class="mdl-layout-title">
            <a class="mdl-navigation__link" href="/">
              <img src="/cautionstripes_small.png" width="25" height="25" alt="Caution Stripes" /> thinkaliker</a>
          </span>

    <div class="mdl-layout-spacer"></div>

    <nav class="mdl-navigation mdl-layout--large-screen-only">
      <a href="/" class="mdl-navigation__link">Home</a>
      <a href="/blog" class="mdl-navigation__link">Blog</a>
      <a href="/projects" class="mdl-navigation__link">Projects</a>
      <a href="/about" class="mdl-navigation__link">About</a>
      <a href="/links" class="mdl-navigation__link">Links</a>
    </nav>
  </div>
</header>
<div class="mdl-layout__drawer" id="drawer">
  <span class="mdl-layout-title"><a class="mdl-navigation__link" href="/"><img src="/cautionstripes_small.png" width="30" height="30" alt="Caution Stripes" /> thinkaliker</a></span>
  <nav class="mdl-navigation">
    <a href="/" class="mdl-navigation__link">Home</a>
    <a href="/blog" class="mdl-navigation__link">Blog</a>
    <a href="/projects" class="mdl-navigation__link">Projects</a>
    <a href="/about" class="mdl-navigation__link">About</a>
    <a href="/links" class="mdl-navigation__link">Links</a>
  </nav>
</div>
