---
layout: blog
title: "Blog"
description: This is the place where Adam writes stuff.
pagination:
  enabled: true
---
<div class="trigger">
  <br />
  <div class="">
    <div class="content">
      <h2>thinkaliker's thoughts</h2>
      <p class="blog-tag">random bits and dribbles of incoherence</p>
    </div>
  </div>

  <div>
    
    {% for post in paginator.posts %}
    <br />
    <div class="">
      <div class="content">
        {% if post.image %}
          <img src="/img/{{ post.image }}" style="width:100%;">
        {% endif %}
        <a href="{{ post.url }}"><h3>{{ post.title }}</h3></a>
        <h6><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">Published {{ post.date | date: "%b %-d, %Y" }}</time> &mdash;
          <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ post.author }}</span></span>
        </h6>
        {{ post.excerpt }}
        <a href="{{ post.url }}">Continue reading &raquo;</a>
      </div>
    </div>
    
    {% endfor %} 
  </div>

  <br />
  <div class="">
    <div class="content">

      {% if paginator.total_pages > 1 %}
      <div class="pagination">
        {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="previous">Newer</a>
        {% else %}
        <span class="previous"></span>
        {% endif %}

        <span class="page_number ">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
        
        {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next">Older</a>
        {% else %}
        <span class="next "></span>
        {% endif %}
      </div>
      {% endif %}

    </div>
  </div>

</div>
